#font-face{
	font-family:"Tajawal";
	
}
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:Tajawal;
	font-size:16px;
}

body{
	background-image:url('qa.jpg');
	background-size:cover;
	
	
}

.header{
	background-color:var(--light-green);
	width:100%;
	padding:15px;
}
.header h1{
	margin:0;
	padding:0;
	text-align:center;
	font-size:40px;
	color:var(--light-grey);
	font-family:Tajawal;
}
.container{
	
	box-sizing:border-box;
margin:0;
padding:0px;
direction:rtl;
font-family:Tajawal;
font-size:15px;	}
	
html{
	--apple:#C6D57E;
	--baby-grey:#F5F4F4;
	--light-grey:#C8C2BC;
	--light-green:#CAE4DB;
	--brown:#CDAC81;
	--navy-blue:#00303F;
	--bage:#EAE7C6;
	--grey:#9D9D9D;
}	
	


.navbar{
	background-color:var(--brown);

	
	
}
.navbar-list{
	list-style:none;
	
}
.navbar-item{
display: inline-block;
height:50px;
width:8rem;
text-align:center;
line-height:50px;
transition:0.3s;

}
.navbar-link{
	text-decoration:none;
	color:white;
	display:block;
}
.navbar-item:hover{
	background-color:var(--grey);
	transition:0.3s;
}
@media(max-width:650px){
	.mavbar-item{
		display:block;
		text-align:center;
		width:100px;
	}
	
	
}
.main-section{
	margin:1em;
text-align:right;
		
}

.intro{
	font-size:40px;
    color:white;
	
}
.statement{
	font-size:20px;
	color:white;
	
}
